VITE_SYSTEM_NAME="GIRASOL_PA_LA_GIGI_OS_V1.0"
VITE_BROWSER_TITLE="GIGI"
VITE_INTRO_MESSAGE="Te amo chisqui, no te pude mandar flores, pero te dejo esta que nunca se te va a marchitar, y siempre vas a poder tener. Espero poco a poco ir llegando a ti"
